<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionappts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/89047bcd-193c-41ec-8b1d-30d3baa0b4c2/resourceGroups/ServerlessArchitecture/providers/Microsoft.Web/sites/TollBoothFunctionAppts</ResourceId>
    <UserName>$TollBoothFunctionAppts</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionappts.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>